<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309065131719-jojilvkloi9768cmn8rprdsevkeqbv60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309065131719-jojilvkloi9768cmn8rprdsevkeqbv60</string>
	<key>API_KEY</key>
	<string>AIzaSyB8jj3ga-gDQ7Zf8I53k4D51I0mDPk2Xfo</string>
	<key>GCM_SENDER_ID</key>
	<string>309065131719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>remoteConfig.remoteConfig</string>
	<key>PROJECT_ID</key>
	<string>remoteconfig-a5e00</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfig-a5e00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309065131719:ios:9dce76970114a0bad1c0e2</string>
</dict>
</plist>